@model IEnumerable<Director>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.Name).Titled("Director Name").Filterable(true).Sortable(true);
    col.Add(m => m.Birthday).Titled("Birthday").Filterable(true).Sortable(true);
    col.Add(m => m.Biography).Titled("Biography").Sortable(true).Filterable(true);
    col.Add(m => m.DirectorID).Titled("Actions").Sanitized(false).Encoded(false).Filterable(false)
    .RenderValueAs(m => string.Format("<a href=\"{0}\">Edit</a> | <a href=\"{1}\">Details</a> | <a href=\"{2}\">Delete</a>",
        Url.Action(nameof(DirectorsController.Edit), new { id = m.DirectorID }),
        Url.Action(nameof(DirectorsController.Details), new { id = m.DirectorID }),
        Url.Action(nameof(DirectorsController.Delete), new { id = m.DirectorID })));
}).Filterable(true).WithPaging(25)