@model IEnumerable<Award>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.Name).Filterable(true).Sortable(true);
    col.Add(m => m.Description).Filterable(true).Sortable(true);
    col.Add().RenderValueAs(m => string.Format("<a href=\"{0}\">Edit</a> | <a href=\"{1}\">Details</a> | <a href=\"{2}\">Delete</a>",
        Url.Action(nameof(AwardsController.Edit), new { id = m.AwardID }),
        Url.Action(nameof(AwardsController.Details), new { id = m.AwardID }),
        Url.Action(nameof(AwardsController.Delete), new { id = m.AwardID })));
}).Filterable(true).WithPaging(25)